import pandas as pd

In [1]:
import pandas as pd
import numpy as np

In [2]:
lst = ["indore", "mumbai", "pune"]
sr = pd.Series(lst)

In [3]:
print(type(sr))
print(sr)

<class 'pandas.core.series.Series'>
0    indore
1    mumbai
2      pune
dtype: object

In [4]:
lst2 = [1,3,4,2,5]
st = pd.Series(lst2)
print(type(st))
print(st)

<class 'pandas.core.series.Series'>
0    1
1    3
2    4
3    2
4    5
dtype: int64

In [5]:
dict = { "a":1, "b":3, "c":34}
dsr = pd.Series(dict)
print(type(dsr))
print(dsr)

<class 'pandas.core.series.Series'>
a     1
b     3
c    34
dtype: int64

In [6]:
# arr = (1,2,3,44,5,66,7,8)
# asr = np.series(arr)
# print(type(asr))
# print(asr)

In [7]:

lt =[10,20,30,40,50]
srd = pd.Series(data = lt , dtype =bool)
print(srd)

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [11]:
sd = pd.series([10,20,30,40,50])
print(s)

AttributeError: module 'pandas' has no attribute 'series'